* {
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #051937, #002946, #003745, #004332, #084c14);
}

.title {
    font-size: 20px;
    color: white;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
}

.container {
    max-width: 1024px;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.slider {
    width: 100%;
    height: 400px;
    margin-bottom: 50px;
}

.prev, .box-images, .next {
    float: left;
    height: 100%;
}

.prev, .next {
    width: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(211, 211, 211, 0.2);
    cursor: pointer;
}

.box-images {
    width: 90%;
    position: relative;
}

.img-slide {
    height: 100%;
}

.box-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.box-images img.visible {
    display: block;
}

.photo-selectors {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.photo-selectors i {
    margin-right: 5px;
    cursor: pointer;
}

.photo-selectors i.visible {
    color: white;
}

.play, .stop {
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    width: 100px;
    height: 50px;
    background-color:rgba(211, 211, 211, 0.4);
    border-radius: 10px;
    display: none;
}

.stop.visible, .play.visible {
    display: block
}
